.back{
	
	background-color: azure;
	
}
.titolo{
	text-align: center;
}
.contenuto{
	text-align: center;
	display: flex;
}
.contenuto img{
	width: 200px;
	height: 100px;
}
div{
	padding: 1%;
}
.modal-back{
	display: none;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
    left: 0;
}
.modal-contenuto{
	text-align: center;
	background-color: rgb(167, 223, 12);
	margin-top: 10%;
	margin-left: 25%;
	height: 50%;
	width: 50%;
}

input{
	size: 5%;
	width: 50%;

}
#bt-add-game{
	float: right;
}
.close{
	float: right;
	color: gray;
}
.close :hover{
	color: black;
	cursor: pointer;
}
.close:hover,
.close:focus {
	color: black;
	cursor: pointer;
}
