<!DOCTYPE html>
<html>
	<head>

		<meta charset="ISO-8859-1">
		<link rel="stylesheet" href="/css/home.css">
		<script src="/js/Home.js"></script>
		
	</head>
	<body onload="init()">
		<div class="back">
			
			<div class="titolo">
				<h1>GESTIONE GIOCHI</h1>
			</div>
			<div class="modifiche">
				
			<button id="bt-add-game">aggiungi gioco</button>
			</div>
			<div class="contenuto">
				
				<div id="icon" th:each="gioco:${listaGiochi}" >
					<h1 th:text="${gioco.value.getName()}"></h1>
					<a href="Teams.html"><img th:src="${gioco.value.getUrl()}"alt="immagine del gioco"><br>
					</a>
					<form action="/home/delete" method="post">
						<input type="hidden" name="id" th:value="${gioco.value.getId()}">
						<button type="submit">elimina</button>
					</form>
					<button th:onclick="modify([[${gioco.value.getId()}]])">	modifica</button>
					<!--
					<button th:data-id="${gioco.value.getId()}" th:data-titolo="${gioco.value.getName()}" th:data-url="${gioco.value.getUrl()}" onclick="modify(this.dataset)">modifica</button>
				 		-->
				</div>
				
			</div>
			
			<!--modale per addGiochi-->
			<div id="addGame" class="modal-back"> 
				<div class="modal-contenuto">
					<span id="close-addGame" class="close">x</span><br>
					<form action="/home/addGame" method="post">
						<input type="text"name="titolo" placeholder="titolo" required><br>
						<input type="text"name="url_image" placeholder="url"><br>
						<button type="submit">inserisci</button>
					</form>
				</div>
			</div>
			 <!-- modale per modifica-->
			<div id="modifyGame" class="modal-back">
				<div class="modal-contenuto">
					<span id="close-modifyGame" class="close">x</span><br>
					<form id="modify" action="/home/modify" method="post">
						<input type="text" name="titolo" placeholder="titolo">
						<input type="text" name="url_image" placeholder="url">
						<br>
						<button type="submit">modifica</button>		
						
					</form>
				</div>
			</div>
		</div>
	</body>
	
</html>